body{
    background-color: lightgray;
}
h1{
    color: purple;
}

.div1
{
    border: 5px outset black;
    background-color: lightgreen;
    text-align: center;
    width: 500px;
    align-items: center;
}