
  #psadt_months{
    font-weight: bold;
    background-color: lightgreen;
    text-align: center;
    border-color: black;
   
    
  }

  #psadt_years{
  
    font-weight: bold;
    background-color: lightgreen;
    text-align: center;
    border-color: black;
    
    
  }

  #psadt_months_button{
    border-color: black;
    width: 75px;
   

  }
  #psadt_years_button{
    border-color: black;
    width: 75px;
  }



  #discarded{
    text-align: left;
    vertical-align: text-top;
    overflow: auto;
  }

 
